@import 'variable';

.footer {
    position: fixed;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.card-link {
    text-decoration: none;
    border: black solid 1px;
    border-radius: 0.5rem;
    transition: all 0.2s linear;
    color: green;
    &:hover {
        background-color: green;
        color: white;
    }
}
