<div class='mt-4'>
    <h3>CREATE A NEW COURSE</h3>
    <form method='POST' action='/courses/store' class='mt-4'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Course name</label>
            <input
                type='text'
                class='form-control'
                name='name'
                id='name'
                placeholder='Ex: NextJS Tutorial'
                maxlength='255'
            />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>Description of the course</label>
            <textarea
                class='form-control'
                name='description'
                id='description'
                placeholder='Ex: Next.js is an open-source web development framework created by the private company'
                maxlength='1000'
            ></textarea>
        </div>
        <div class='mb-3'>
            <label for='videoId' class='form-label'>Video ID of the course</label>
            <input
                type='text'
                class='form-control'
                name='videoId'
                id='videoId'
                placeholder='Ex: z2f7RHgvddc'
            />
        </div>
        <button class='btn btn-primary' type='submit'>
            Create
        </button>
    </form>

</div>