<div
    style='position: fixed;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;'
>
    Copyright &copy; 2023 by Huynh Van Phuot
</div>