<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img
                src='https://img.freepik.com/premium-photo/view-desktop-with-coffee-laptop_325774-1964.jpg'
                alt=''
                style='width: 4rem; height: 2rem; border-radius: 0.3rem;'
            />
        </a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='container-fluid d-flex'>
            <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                    <li class='nav-item'>
                        <a class='nav-link active' aria-current='page' href='/'>Home</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='search'>Form Data</a>
                    </li>

                    <li class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdown'
                            role='button'
                            data-bs-toggle='dropdown'
                            aria-expanded='false'
                        >
                            <img
                                src='https://scontent.fsgn13-4.fna.fbcdn.net/v/t1.6435-9/87063550_910246839400038_5069160512885882880_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=wZj3Fp3CVwkAX-5loQS&_nc_ht=scontent.fsgn13-4.fna&oh=00_AfCM9NggAOf6iTdSRzg02ZZCHB8FlPdImzaysG155bA77w&oe=65234758'
                                alt=''
                                style='
                                        width: 1.6rem;
                                        height: 1.6rem;
                                        border-radius: 50%;
                                        margin-right: 0.5rem;'
                            />
                            Harry
                        </a>
                        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                            <a class='dropdown-item' href='me/stored/courses'>My courses</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='courses/create'>Create new course</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='me/stored/news'>My news</a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href='#'>Log out</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <form class='d-flex' method='get' action='search'>
            <input
                class='form-control me-2'
                type='search'
                name='q'
                placeholder='Search'
                aria-label='Search'
            />
            <button
                class='btn btn-outline-secondary'
                type='submit'
                style='
                            border: 1px solid #ced4da; 
                            color: #fff;
                            appearance: none; 
                            border-radius: 0.25rem; 
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;'
            >
                Search
            </button>
        </form>
    </div>
</nav>