<div class='mt-4'>
  <form method='post' action='search'>
    <div class='mb-3'>
      <label for='fullName' class='form-label'>Full name</label>
      <input
        type='text'
        class='form-control'
        name='fullName'
        id='fullName'
        placeholder='Ex: Huynh Van Phuot'
      />
    </div>
    <div class='mb-3'>
      <label for='gender-input'>Choose the gender</label>
      <select name='gender' id='gender-input'>
        <option value=''>---Gender---</option>
        <option value='male'>Male</option>
        <option value='female'>Female</option>
      </select>
    </div>
    <button class='btn btn-secondary' type='submit'>
      Submit
    </button>
  </form>

</div>